.shadowbtn {
    background: 0 0;
    border: 0;
    cursor: pointer;
    outline: none;
}

.icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon__small {
    width: 18px;
    height: 18px;
}